src/main/resources/META-INF/ServicioLocalizacion.xsd2.xsd

<xs:schema targetNamespace="http://www.datacredito.com.co/services/schema/ServicioLocalizacion/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:of="http://www.datacredito.com.co/services/schema/ServicioLocalizacion/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarDatosLocalizacion">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Solicitud">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="SolicitudDatosLocalizacion">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="TipoIdentificacion"/>
                              <xs:element type="xs:string" name="Identificacion"/>
                              <xs:element type="xs:string" name="Usuario"/>
                              <xs:element type="xs:string" name="Clave"/>
                              <xs:element type="xs:string" name="PrimerApellido"/>
                              <xs:element type="xs:string" name="Name" minOccurs="0"/>
                              <xs:element type="xs:string" name="FullName" minOccurs="0"/>
                              <xs:element type="xs:string" name="Issuedate" minOccurs="0"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ConsultarDatosLocalizacionResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ConsultarDatosLocalizacionReturn">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Localizacion">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="FechaConsulta"/>
                              <xs:element type="xs:string" name="Respuesta"/>
                              <xs:element type="xs:string" name="TipoIdDigitado" nillable="false"/>
                              <xs:element type="xs:string" name="Identificacion" minOccurs="0"/>
                              <xs:element name="NaturalNacional" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="Nombres"/>
                                       <xs:element type="xs:string" name="PrimerApellido"/>
                                       <xs:element type="xs:string" name="SegundoApellido"/>
                                       <xs:element type="xs:string" name="NombreCompleto"/>
                                       <xs:element type="xs:string" name="Validada"/>
                                       <xs:element type="xs:string" name="Rut"/>
                                       <xs:element type="xs:string" name="Genero"/>
                                       <xs:element type="xs:string" name="CodigoCIIU"/>
                                       <xs:element type="xs:string" name="ActividadEconomica"/>
                                       <xs:element name="Identificacion">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" name="Estado"/>
                                                <xs:element type="xs:string" name="FechaExpedicion"/>
                                                <xs:element type="xs:string" name="Ciudad"/>
                                                <xs:element type="xs:string" name="Departamento"/>
                                                <xs:element type="xs:string" name="Numero"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="Edad">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" name="Min"/>
                                                <xs:element type="xs:string" name="Max"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="Ubicacion">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" name="Antiguedad"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element type="xs:string" name="Llave" minOccurs="0"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="Direccion" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="CodigoDepartamento" nillable="true"/>
                                       <xs:element type="xs:string" name="CodigoPais" nillable="true"/>
                                       <xs:element type="xs:string" name="Contrato" nillable="true"/>
                                       <xs:element type="xs:string" name="Direccion" nillable="true"/>
                                       <xs:element type="xs:string" name="Estrato" nillable="true"/>
                                       <xs:element type="xs:string" name="Actualizacion" nillable="true"/>
                                       <xs:element type="xs:string" name="Creacion" nillable="true"/>
                                       <xs:element type="xs:string" name="UltimaConfirmacion" nillable="true"/>
                                       <xs:element type="xs:string" name="NombreCiudad" nillable="true"/>
                                       <xs:element type="xs:string" name="NombreDepartamento" nillable="true"/>
                                       <xs:element type="xs:string" name="NumReportes" nillable="true"/>
                                       <xs:element type="xs:string" name="Tipo" nillable="true"/>
                                       <xs:element type="xs:string" name="TipoResidencia" nillable="true"/>
                                       <xs:element type="xs:string" name="TipoLaboralOComercial" nillable="true"/>
                                       <xs:element type="xs:string" name="TipoCorrespondencia" nillable="true"/>
                                       <xs:element type="xs:string" name="Zona" nillable="true"/>
                                       <xs:element type="xs:string" name="NumeroEntidades" nillable="true"/>
                                       <xs:element name="Entidad" minOccurs="0">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" name="Nit" minOccurs="0"/>
                                                <xs:element type="xs:string" name="codigoSuscriptor" minOccurs="0"/>
                                                <xs:element type="xs:string" name="nombreNit" minOccurs="0"/>
                                                <xs:element type="xs:string" name="nombreSuscriptor" minOccurs="0"/>
                                                <xs:element type="xs:string" name="Numero"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element type="xs:string" name="Llave" minOccurs="0"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="Telefono" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="CodigoArea" nillable="true"/>
                                       <xs:element type="xs:string" name="Contrato" nillable="true"/>
                                       <xs:element type="xs:string" name="Actualizacion" nillable="true"/>
                                       <xs:element type="xs:string" name="Creacion" nillable="true"/>
                                       <xs:element type="xs:string" name="UltimaConfirmacion" nillable="true"/>
                                       <xs:element type="xs:string" name="IndicativoPais" nillable="true"/>
                                       <xs:element type="xs:string" name="NombreCiudad" nillable="true"/>
                                       <xs:element type="xs:string" name="NombreDepartamento" nillable="true"/>
                                       <xs:element type="xs:string" name="NumReportes" nillable="true"/>
                                       <xs:element type="xs:string" name="NumeroEntidades" nillable="true"/>
                                       <xs:element type="xs:string" name="Telefono" nillable="true"/>
                                       <xs:element type="xs:string" name="Tipo" nillable="true"/>
                                       <xs:element type="xs:string" name="TipoResidencia" nillable="true"/>
                                       <xs:element type="xs:string" name="TipoLaboralOComercial" nillable="true"/>
                                       <xs:element name="Entidad" minOccurs="0">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" name="Nit" minOccurs="0"/>
                                                <xs:element type="xs:string" name="codigoSuscriptor" minOccurs="0"/>
                                                <xs:element type="xs:string" name="nombreNit" minOccurs="0"/>
                                                <xs:element type="xs:string" name="nombreSuscriptor" minOccurs="0"/>
                                                <xs:element type="xs:string" name="Numero"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element type="xs:string" name="Llave" minOccurs="0"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="Celular" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="Celular" nillable="true"/>
                                       <xs:element type="xs:string" name="Contrato" nillable="true"/>
                                       <xs:element type="xs:string" name="Actualizacion" nillable="true"/>
                                       <xs:element type="xs:string" name="Creacion" nillable="true"/>
                                       <xs:element type="xs:string" name="UltimaConfirmacion" nillable="true"/>
                                       <xs:element type="xs:string" name="NumReportes" nillable="true"/>
                                       <xs:element type="xs:string" name="NumeroEntidades" nillable="true"/>
                                       <xs:element name="Entidad" minOccurs="0">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" name="Nit" minOccurs="0"/>
                                                <xs:element type="xs:string" name="codigoSuscriptor" minOccurs="0"/>
                                                <xs:element type="xs:string" name="nombreNit" minOccurs="0"/>
                                                <xs:element type="xs:string" name="nombreSuscriptor" minOccurs="0"/>
                                                <xs:element type="xs:string" name="Numero"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element type="xs:string" name="Llave" minOccurs="0"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="Email" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="Contrato" nillable="true"/>
                                       <xs:element type="xs:string" name="Actualizacion" nillable="true"/>
                                       <xs:element type="xs:string" name="Creacion" nillable="true"/>
                                       <xs:element type="xs:string" name="UltimaConfirmacion" nillable="true"/>
                                       <xs:element type="xs:string" name="Email" nillable="true"/>
                                       <xs:element type="xs:string" name="NumReportes" nillable="true"/>
                                       <xs:element type="xs:string" name="NumeroEntidades" nillable="true"/>
                                       <xs:element name="Entidad" minOccurs="0">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" name="Nit" minOccurs="0"/>
                                                <xs:element type="xs:string" name="codigoSuscriptor" minOccurs="0"/>
                                                <xs:element type="xs:string" name="nombreNit" minOccurs="0"/>
                                                <xs:element type="xs:string" name="nombreSuscriptor" minOccurs="0"/>
                                                <xs:element type="xs:string" name="Numero"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element type="xs:string" name="Llave" minOccurs="0"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="IndicadorMovilidad" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="FechaInicial" nillable="true"/>
                                       <xs:element type="xs:string" name="FechaFinal" nillable="true"/>
                                       <xs:element type="xs:string" name="VectorDirecciones" nillable="true"/>
                                       <xs:element type="xs:string" name="Tipo" nillable="true"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="CustomConsultarDatosLocalizacion">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Solicitud">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="SolicitudDatosLocalizacion">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="TipoIdentificacion"/>
                              <xs:element type="xs:string" name="Identificacion"/>
                              <xs:element type="xs:string" name="Usuario"/>
                              <xs:element type="xs:string" name="Clave"/>
                              <xs:element type="xs:string" name="PrimerApellido"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="Conf" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Params" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Param" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="Name"/>
                                       <xs:element type="xs:string" name="Value"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="CustomConsultarDatosLocalizacionResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CustomConsultarDatosLocalizacionReturn">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Localizacion">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="Respuesta"/>
                              <xs:element type="xs:string" name="FechaConsulta"/>
                              <xs:element type="xs:string" name="TipoIdDigitado" nillable="false"/>
                              <xs:element name="NaturalNacional" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="Nombres"/>
                                       <xs:element type="xs:string" name="PrimerApellido"/>
                                       <xs:element type="xs:string" name="SegundoApellido"/>
                                       <xs:element type="xs:string" name="NombreCompleto"/>
                                       <xs:element type="xs:string" name="Validada"/>
                                       <xs:element type="xs:string" name="Rut"/>
                                       <xs:element type="xs:string" name="Genero"/>
                                       <xs:element type="xs:string" name="CodigoCIIU"/>
                                       <xs:element type="xs:string" name="ActividadEconomica"/>
                                       <xs:element name="Identificacion">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" name="Estado"/>
                                                <xs:element type="xs:string" name="FechaExpedicion"/>
                                                <xs:element type="xs:string" name="Ciudad"/>
                                                <xs:element type="xs:string" name="Departamento"/>
                                                <xs:element type="xs:string" name="Numero"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="Edad">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" name="Min"/>
                                                <xs:element type="xs:string" name="Max"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="Ubicacion">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" name="Antiguedad"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element type="xs:string" name="Llave" minOccurs="0"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="Direccion" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="CodigoDepartamento" nillable="true"/>
                                       <xs:element type="xs:string" name="CodigoPais" nillable="true"/>
                                       <xs:element type="xs:string" name="Contrato" nillable="true"/>
                                       <xs:element type="xs:string" name="Direccion" nillable="true"/>
                                       <xs:element type="xs:string" name="Estrato" nillable="true"/>
                                       <xs:element type="xs:string" name="Actualizacion" nillable="true"/>
                                       <xs:element type="xs:string" name="Creacion" nillable="true"/>
                                       <xs:element type="xs:string" name="UltimaConfirmacion" nillable="true"/>
                                       <xs:element type="xs:string" name="NombreCiudad" nillable="true"/>
                                       <xs:element type="xs:string" name="NombreDepartamento" nillable="true"/>
                                       <xs:element type="xs:string" name="NumReportes" nillable="true"/>
                                       <xs:element type="xs:string" name="Tipo" nillable="true"/>
                                       <xs:element type="xs:string" name="TipoResidencia" nillable="true"/>
                                       <xs:element type="xs:string" name="TipoLaboralOComercial" nillable="true"/>
                                       <xs:element type="xs:string" name="TipoCorrespondencia" nillable="true"/>
                                       <xs:element type="xs:string" name="Zona" nillable="true"/>
                                       <xs:element type="xs:string" name="NumeroEntidades" nillable="true"/>
                                       <xs:element name="Entidad" minOccurs="0">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" name="Nit" minOccurs="0"/>
                                                <xs:element type="xs:string" name="codigoSuscriptor" minOccurs="0"/>
                                                <xs:element type="xs:string" name="nombreNit" minOccurs="0"/>
                                                <xs:element type="xs:string" name="nombreSuscriptor" minOccurs="0"/>
                                                <xs:element type="xs:string" name="Numero"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element type="xs:string" name="Llave" minOccurs="0"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="Telefono" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="CodigoArea" nillable="true"/>
                                       <xs:element type="xs:string" name="Contrato" nillable="true"/>
                                       <xs:element type="xs:string" name="Actualizacion" nillable="true"/>
                                       <xs:element type="xs:string" name="Creacion" nillable="true"/>
                                       <xs:element type="xs:string" name="UltimaConfirmacion" nillable="true"/>
                                       <xs:element type="xs:string" name="IndicativoPais" nillable="true"/>
                                       <xs:element type="xs:string" name="NombreCiudad" nillable="true"/>
                                       <xs:element type="xs:string" name="NombreDepartamento" nillable="true"/>
                                       <xs:element type="xs:string" name="NumReportes" nillable="true"/>
                                       <xs:element type="xs:string" name="NumeroEntidades" nillable="true"/>
                                       <xs:element type="xs:string" name="Telefono" nillable="true"/>
                                       <xs:element type="xs:string" name="Tipo" nillable="true"/>
                                       <xs:element type="xs:string" name="TipoResidencia" nillable="true"/>
                                       <xs:element type="xs:string" name="TipoLaboralOComercial" nillable="true"/>
                                       <xs:element name="Entidad" minOccurs="0">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" name="Nit" minOccurs="0"/>
                                                <xs:element type="xs:string" name="codigoSuscriptor" minOccurs="0"/>
                                                <xs:element type="xs:string" name="nombreNit" minOccurs="0"/>
                                                <xs:element type="xs:string" name="nombreSuscriptor" minOccurs="0"/>
                                                <xs:element type="xs:string" name="Numero"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element type="xs:string" name="Llave" minOccurs="0"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="Celular" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="Celular" nillable="true"/>
                                       <xs:element type="xs:string" name="Contrato" nillable="true"/>
                                       <xs:element type="xs:string" name="Actualizacion" nillable="true"/>
                                       <xs:element type="xs:string" name="Creacion" nillable="true"/>
                                       <xs:element type="xs:string" name="UltimaConfirmacion" nillable="true"/>
                                       <xs:element type="xs:string" name="NumReportes" nillable="true"/>
                                       <xs:element type="xs:string" name="NumeroEntidades" nillable="true"/>
                                       <xs:element name="Entidad" minOccurs="0">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" name="Nit" minOccurs="0"/>
                                                <xs:element type="xs:string" name="codigoSuscriptor" minOccurs="0"/>
                                                <xs:element type="xs:string" name="nombreNit" minOccurs="0"/>
                                                <xs:element type="xs:string" name="nombreSuscriptor" minOccurs="0"/>
                                                <xs:element type="xs:string" name="Numero"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element type="xs:string" name="Llave" minOccurs="0"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="Email" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="Contrato" nillable="true"/>
                                       <xs:element type="xs:string" name="Actualizacion" nillable="true"/>
                                       <xs:element type="xs:string" name="Creacion" nillable="true"/>
                                       <xs:element type="xs:string" name="UltimaConfirmacion" nillable="true"/>
                                       <xs:element type="xs:string" name="Email" nillable="true"/>
                                       <xs:element type="xs:string" name="NumReportes" nillable="true"/>
                                       <xs:element type="xs:string" name="NumeroEntidades" nillable="true"/>
                                       <xs:element name="Entidad" minOccurs="0">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" name="Nit" minOccurs="0"/>
                                                <xs:element type="xs:string" name="codigoSuscriptor" minOccurs="0"/>
                                                <xs:element type="xs:string" name="nombreNit" minOccurs="0"/>
                                                <xs:element type="xs:string" name="nombreSuscriptor" minOccurs="0"/>
                                                <xs:element type="xs:string" name="Numero"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element type="xs:string" name="Llave" minOccurs="0"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="IndicadorMovilidad" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="FechaInicial" nillable="true"/>
                                       <xs:element type="xs:string" name="FechaFinal" nillable="true"/>
                                       <xs:element type="xs:string" name="VectorDirecciones" nillable="true"/>
                                       <xs:element type="xs:string" name="Tipo" nillable="true"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Fault" final="extension">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="faultcode" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="faultstring" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="detail">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="ServicioLocalizacionException" type="of:ServicioLocalizacionException" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="ServicioLocalizacionException">
      <xs:sequence>
         <xs:element name="Business" type="of:Business" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Runtime" type="of:Runtime" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Business">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="error-code" type="xs:string"/>
         <xs:element maxOccurs="1" minOccurs="0" name="error-message" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Runtime">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="uuid" type="xs:string"/>
         <xs:element maxOccurs="1" minOccurs="0" name="device-name" type="xs:string"/>
         <xs:element maxOccurs="1" minOccurs="0" name="error-code" type="xs:string"/>
         <xs:element maxOccurs="1" minOccurs="0" name="error-subcode" type="xs:string"/>
         <xs:element maxOccurs="1" minOccurs="0" name="error-message" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>